#myForm table .td1 label{
    color: #666666;
}
#myForm table .td1{
    width: 120px;
}
#myForm table .td2{
    width: 800px;
}
#myForm select{
    padding: 0;
    line-height: 24px;
    height: 24px;
}
#myForm td label{
    line-height: 34px;
}
#myForm .current-category{
    margin-right: 15px;
}
#myForm .property-group-wrap .property-value{
    color: blue;
}
#myForm .property-group-wrap select {
    width: 100px;
    line-height: 24px;
    height: 24px;
    padding: 0;
}
#myForm .property-group-wrap .span input {
    width: 50px;
    background-color: #FFFFFF;
    padding: 0 4px;
    border: 1px solid #e7e7eb;
    outline: 0;
    height: 24px;
    line-height: 24px;
}
#myForm .property-group-wrap .property-group span{
	margin-right: 10px;
}

#myForm .side-image-wrap{
    margin-bottom: 10px;
}
#myForm .side-image{
    width: 180px;
    display: inline;
}
#myForm .property-group-wrap select.property-value{
	color:#777 !important;
}



/**百度地图**/
.anchorBL{
	display:none;
}
.content .inner-section .table .td3 .error{
	display:block;
}
.content .inner-section .map-search-row{
	text-align:center;
	border:1px solid #ccc;
	padding:10px;
}
.content .inner-section .map-search-row .keyword{
	width:320px;
}
.content .inner-section .map-search-row .search-keyword{
	position:relative;
	top:-2px;
}
.content .inner-section #allmap{
	border:1px solid #ccc;
	border-top:none;
	height:500px;
}
.content .inner-section #allmap .iw_poi_title{
	color:#cc5522;
}
.content .inner-section #allmap .iw_poi_content{
	color:#777;
}
.content #allmap .BMapLabel{
	background-color:#fff;
	border-radius:3px;
	text-align: center;	
	width:80px;
	padding-right: 3px;
	font-size:10px;
}