/*******************************
 -------我的技师页面样式--------
 ---------author:jjhu-----------
 -------data:2015-08-28---------
 *******************************/
html{
	font-size:20px
}
body{
	background: #f3f3f3;
}
#container{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #f3f3f3;
    min-height: 300px;
    overflow: visible;
}
/******------------top------------*******/
.top{
    zoom: 1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-size: 16px;
    padding: 0 15px;
    position: fixed;
    top:0;
    width: 100%;
    max-width: 640px;
    z-index: 1;
}
.top a{
    display: inline-block;
    height: 100%;
    float: left;
    color: #fff;
    width: 10%;
    text-align: left;
    outline: none;
    text-decoration: none;
}
.top a.right-icon{
	text-align: right;
}
.top a.center{
	text-align: center;
 	width: 80%;
}
.top .logo {
	text-align: center;
    color: #FFFFFF;
    display: block;
}
.top{
	position: relative;
}
.top-area{
    margin: 0 -10px;
    background-color: #19B4EA;
    padding: 10px 0;
}
.top-area .head-image{
    margin: 0px auto;
    text-align: center;
}
.top-area .nickname{
    margin-top: 10px;
    text-align: center;
    color: #fff;
}
.top-area .head-image img{
    height: 60px;
    border-radius: 40px;
}

#content .address-top-area{
    padding: 10px;
    border-bottom: 1px solid #F0E8E8;
}
#content .address-top-area .back{
    cursor: pointer;
    padding-right: 5px;
}
#content .address-top-area a{
    text-decoration: none;
    float: right;
}
#content .address-wrap{
	margin-top: 10px;
}
#content table{
	width: 100%;
}
#content table input,#content table select{
    border: 1px solid #DDD;
    padding: 4px 3px;
    color: #444444;
}
#content table td{
	border-bottom: 1px solid #e5e5e5;
}
#content table input{
	width: 100%;
	outline: none;
	line-height: 25px;
}
#content table input.callname,#content table input.phone{
	border: 0;
}
#content table .tr > td
{
    padding: 5px 0;
}
#content table .tr > td:first-child{
    width: 76px;
}
#content table .tr .area-info{
	margin-bottom: 5px;
}
#content table tr.addr td{
	border-bottom: 0;
}
#content table tr.addr td input{
	border: 1px solid #ddd;
	border-radius: 3px;
}
#content table tr.addr td.col-2,#content table tr.detail td.col-2{
	padding-right: 10px;
}
#content table .col-2{
	position: relative;
}
#content table .col-2 .arrow-down{
	position: absolute;
	top: 20px;
	right: 5px;
    border: 8px solid transparent;
    border-bottom: 0;
    border-top-color: #999;
	float: right;
	margin-right: 20px;
}
#content tfoot td{
	padding: 20px 0;
	border: 0;
}
#content tfoot a{
	width: 50%;
	margin: 0 auto;
	border-radius: 5px;
	display: block;
	margin-bottom: 10px;
	background: #009a44;
	color: #fff;
	border: 0;
	height: 34px;
	line-height: 34px;
	padding: 0;
	margin-bottom: 15px;
}
#content tfoot a.back{
	background: #f19772;
	
}
#content table td.col-1{
	text-indent: 10px;
}
