.right-section #list-table .th1{
    width:50px;
}
.right-section #list-table .th2{
    width:70px;
}
.right-section #list-table .th3{
    width: 150px;
}


.right-section #list-table .th7{
    width: 250px;
}
.right-section #list-table .th8{
    width: 150px;
}
.input-normal search{
	border-radius: 0;
	border: 1px solid #cccccc !important;
	color: #222;
	width: 120px;
	height: 20px;
	margin: 5px 0;
	padding: 2px;
}
.limitName{
	text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}