/******所有活动的公用css*********
 ***** @author jjhu**********
 ***** @since 2016-05-19*****
 ****************************/
body{
    font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 640px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
	border: none;
	/*max-width: 100%;*/
}
a{
    text-decoration: none;
}
p,ul,ol{
    margin: 0;
    padding: 0;
}
.cf:after{
    content: " ";
    display: table;
    clear: both;
}
#loading{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../../../themes/image/loading.gif) no-repeat center;
	z-index: 999;
}
.limit-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	display: block;
}
/******------------分页------------*******/
#page-selection{
    height: 34px;
}
#page-selection:after{
    content: "";
    clear: both;
}
#page-selection ul.bootpag{
    float: left;
    margin:0;
}
#page-selection .text-desc-area{
    float: left;
    margin-left: 15px;
    height: 100%;
    line-height: 34px;
}
/******------------页脚------------*******/
#footer {
    padding: 25px;
    text-align: center;
    background: #fafafa;
    color: #CCCCCC;
}
#footer a{
	color: #ccc;
}

/**系统自定义弹框**/
.my-dialog{
	display: none;
	position: fixed;
	margin: 0 auto;
	width: 300px;
	left: 0;
	right: 0;
	z-index: 99999999;
	text-align: center;
	background-color: #ffffff;
	border-radius: 4px;
	padding: 10px;
}
#loadingDialog.my-dialog{
	background-color: transparent;
}
#maskDialog,#otherMaskDialog{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 9998;
	display: none;
}
#otherMaskDialog{
	z-index: 9997;
}
.my-dialog .my-dialog-header{
	text-align: right;
}
.my-dialog .my-dialog-header .icon{
	font-size: 18px;
	cursor: pointer;
	color: #999;
}
.my-dialog .my-dialog-body .title-icon{
	margin-bottom: 15px;
}
.my-dialog .my-dialog-body .title-icon .icon{
	font-size: 44px;
}
#loadingDialog .my-dialog-body{
	padding: 30px;
}
#loadingDialog img{
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
#skipDialog img{
	height: 40px;
}
.get-more{
	padding: 10px;
    text-align: center;
    color: #ccc;
}
#normalDialog .my-dialog-body .title-icon .icon,
#normalConfirmDialog .my-dialog-body .title-icon .icon{
	color: #00a0e9;
}
#successDialog .my-dialog-body .title-icon .icon,
#successConfirmDialog .my-dialog-body .title-icon .icon{
	color: #00b000;
}
#alertDialog .my-dialog-body .title-icon .icon,
#alertConfirmDialog .my-dialog-body .title-icon .icon{
	color: #ffa000;
}
#errorDialog .my-dialog-body .title-icon .icon,
#errorConfirmDialog .my-dialog-body .title-icon .icon{
	color: #ec6941;
}
#dangerConfirmDialog .my-dialog-body .title-icon .icon{
	color: #ec6941;
}
.my-dialog .my-dialog-body .title-text{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
}
.my-dialog .my-dialog-body .desc-text{
	color:#666666
}
.my-dialog .my-dialog-footer{
	margin-top: 20px;
	padding-bottom: 10px;
}
.my-dialog .my-dialog-footer a{
	display: inline-block;
	width: 40%;
	border: 1px solid #DDDDDD;	
	border-radius: 2px;
	height: 32px;
	line-height: 30px;
	cursor: pointer;
}
.my-dialog .my-dialog-footer a.btn-cancel-oper{
	color: #555;
}
#dangerConfirmDialog .my-dialog-footer a.btn-confirm-oper{
	background-color: #ec6941;
	color: #ffffff;
}
#normalConfirmDialog .my-dialog-footer a.btn-confirm-oper{
	background-color: #00a0e9;
	color: #ffffff;
}
#successConfirmDialog .my-dialog-footer a.btn-confirm-oper,
#codeConfirmDialog .my-dialog-footer a.btn-confirm-oper{
	background-color: #00a0e9;
	color: #ffffff;
}
#codeConfirmDialog .code-wrap{
	position: relative;
	text-align: left;
    padding: 10px 10%;
}
#codeConfirmDialog .code-wrap #verifyCode{
	border: 1px solid #DDDDDD;
	outline: none;
	height: 27px;
	line-height: 25px;
	width: 140px;
	text-transform: uppercase;
	padding-left: 5px;
}
#codeConfirmDialog .code-wrap #verifyCodeImg{
	position: absolute;
	right: 10%;
	
}
