
    <!--2016-08-24 the lastest version designed by jjhu of change-->

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="description" content="<!--{if $config.site_description}--><!--{$config.site_description}--><!--{else}--><!--{$config.site_name}--><!--{/if}--><!--{if $selectedCate}-->|<!--{$selectedCate.description}--><!--{/if}--><!--{if $page}-->|<!--{$page.description}--><!--{/if}-->">
    <meta name="keywords" content="<!--{if $config.site_keywords}--><!--{$config.site_keywords}--><!--{else}--><!--{$config.site_name}--><!--{/if}--><!--{if $selectedCate}-->|<!--{$selectedCate.keywords}--><!--{/if}--><!--{if $page}-->|<!--{$page.keywords}--><!--{/if}-->">
    <meta name="author" content="安徽千界信息科技有限公司">
	<meta name="robots" content="index,follow">
	<meta name="application-name" content="www.changekeji.com">
	<link rel="stylesheet"	href="<!--{$smarty.const.TEMPLATE_PATH}-->/front/common/iconfont2/iconfont.css">
	<link rel="stylesheet"	href="<!--{$smarty.const.TEMPLATE_PATH}-->/front/common/common.css">
