/*******************************
 -------通知订单详情页面样式--------
 ---------author:leon-----------
 -------data:2016-05-25---------
 *******************************/
#content #order-info-area{
	margin-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
	background: #ffffff;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;

}
#content #order-info-area table{
	border-spacing: 2px;
	border-color: gray;
	width: 100%;
}
#content #order-info-area tr{
    padding: 5px 0;
    height: 41px;
    overflow: hidden;	
}
#content #order-info-area .order-tr{
	border-top: 1px solid #EEEEEE;
}
#content table .td-order-laber{
	width: 80px;
	text-align:left;
}
#content table .goods_thumb{
	max-height:80px; 
 	max-width:70px; 
 	width:expression(this.width > 70 && this.height < this.width ? 70: true); 
 	height:expression(this.height > 80 ? 80: true);
}
#content table .td-order-info{
	text-align:left;
}
#content .admin-tr .operate-button{
	margin-left:5px;
	margin-right:5px;
}
#content #order-info-area .goods-count{
	float: right;
}
#content #order-info-area .goods-count i{
	font-size:10px;
}
#content #order-info-area .property-area{
	color: #9c9c9c;
	font-size: 12px;
}
#content #order-info-area .ori-price{
    text-decoration:line-through;
	padding-left:8px;
}

