/*************************
 ------会员注册页面样式---
 *************************/
body{
	background: #fff;
}
/*添加按钮*/
#content{
	margin:0px;
	padding-left:15px;
}
.add-area{
	height:50px;
	width:100%;
	line-height:50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom:1px solid #E8E8E8;
}
.add-area:last-child{
	border-bottom:0px solid #E8E8E8;
}
.add-area .name{
	color:black;
}
.add-area input{
	height:40px;
	outline:none;
	padding:0px;
	margin:0px;
	border:0px solid;
	text-align:right;
	padding-right:20px;
	font-size:16px;
}

.add-area .inp i{
 	color:#ccc;
}

/*提交按钮*/
.but-area{
	height:270px;
	background:#F5F5F5;
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding-top:50px;
}
.but-area .send{
	display:block;
	width:280px;
	height:40px;
	border-radius:5px;
	border:0px;
	padding:0px;
	margin:0px;
	color:white;
	font-size:15px;
	background: #1695FC;
}

/*picker模态框*/
.picker-modal{
	height:250px;
}
.picker-modal .picker-item{
	font-size:16px;
}

.picker-modal .bar-nav{
	height:30px;
}
.picker-modal .bar-nav button{
	font-size:16px;
	line-height:30px;
}
.picker-modal .bar-nav .title{
	font-size:16px;
	line-height:30px;
}