/*****************
 ******商品分类**** 
 *****************/
#container{
	padding-bottom: 0px;
}
#content{
	background: #ffffff;
}
/*搜索区*/
 .search-area{
	padding: 10px 15px 15px 15px;
	/*border-bottom: 1px solid #ececec;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
 .search-area .search-cont{
	border-radius: 5px;
	background: #f2f2f2;
	padding: 5px 10px 5px 30px;
	position: relative;
	width:80%;
}
 .search-area .search-cont .iconfont{
	position: absolute;
	top: 6px;
	left: 5px;
	font-size: 15px;
}
 .search-area input{
	outline: none;
	border: none;
	width: 100%;
	background: transparent;
}
 .search-area .screening .screen{
	font-size: 13px;
	line-height:32px;
}
 .search-area .screening .iconfont{
	font-size: 13px;
	line-height:32px;
}

/*分类区域*/
#content .goodCate-area{
	height:40px;
	padding-left:15px;
	display: flex;
	flex-wrap:nowrap;
}
.goodCate-area .swiper-container {
    padding-top: 5px;
    background: #fff;
    /*border-bottom: 1px solid #eee;*/
    color: #666;
    font-size: 13px;
    margin:0px;
}
.swiper-wrapper{
	display: flex;
	flex-direction: row;
}
.swiper-wrapper .loan-list {
    text-align: center;
    height: 33px;
    line-height: 33px;
    /*margin-right:20px;*/
   	width: 60px;
}
.swiper-wrapper .loan-list.all {
    text-align: center;
    height: 33px;
    line-height: 33px;
   	width: 30px;
}
.swiper-wrapper .loan-list.cur{
	border-bottom: 2px solid #1596FB;
	color:#1596FB;
}

.space{
	height:10px;
	background: #F5F5F5;
}
.space2{
	height:5px;
	background: #F5F5F5;
}

/**商品区域样式**/
.recommend-goods-diplay-area .recommend-goods-area{
	width:100%;
	padding: 8px 15px;
	height:86px;
}
.recommend-goods-diplay-area .goods .goods-info{
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
}
.recommend-goods-diplay-area .recommend-goods-area img{
   	height:70px;
   	width:70px;
}
/**商品销量、原价**/
 .goods-descript-info{
	font-size:12px;
	margin-left:9px;
	display:flex;
	flex:1;
	flex-direction:column;
	/*width:0;*/
	overflow:hidden;
}
.goods-descript-info .name{
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    color: black;
    font-weight:bold;
    height:20px;
}
.quantity{
	font-size:12px;
	color:#BDBDBD;
}
.goods-descript-info .time_length{
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	color:#BDBDBD;
	text-align: left;
}
.price-num{
	width:150px;
	padding-right:10px;
}
.price-num .price{
	font-size:15px;
	display:flex;
	flex-direction:row;
	height:35px;
}
.ori_price{
	display:flex;
	width:50%;
	color:black;
	justify-content:flex-end;
}
.real_price{
	display:flex;
	width:50%;
	color:#FD7218;
	justify-content:flex-end;
}
.price-num .quantity{
	font-size:12px;
	text-align: right;
	color:#BDBDBD;
}
.price-num .quantity i{
	font-size:24px;
}
/*无数据时*/
.no-cate{
	color:red;
	font-size:18px;
	text-align: center;
	margin-top:20px;
}
#content .get-more{
	text-align: center;
	color:#CCC;
}

/*模态框*/
.modal .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #fff;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    height:291px;
}
.modal-header {
	padding:0px;
    min-height: 16.43px;
    border-bottom: 0px solid #e5e5e5;
    height:70px;
}
.modal-body {
    position: relative;
    padding: 5px 15px 10px 15px;
}
.modal-body .sort-area{
	height:156px;
}
.modal-body .sort-area .time_list{
	height:50%;
	width:100%;
	padding-bottom:10px;
	border-bottom:1px solid #F3F3F3;
	margin-bottom:10px;
}
.modal-body .sort-area .time_list .time_but{
	padding-top:10px;
}
.time_but button{
	border-radius:2px;
	font-size:12px;
	background:#fff;
	width:70px;
	height:30px;
	border:1px solid #ccc;
	margin-right:10px;
	line-height:28px;
	outline:none;
}
.modal-body .sort-area .price_list .price_but{
	padding-top:10px;
}
.price_but button{
	border-radius:2px;
	font-size:12px;
	background:#fff;
	width:70px;
	height:30px;
	border:1px solid #ccc;
	margin-right:10px;
	line-height:28px;
	outline:none;
}
.modal-body .sort-area .click_cur{
	background:#0F96F2 ;
	color:white;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    height:50px;
    padding:0px;
}
.modal-footer div{
	width:50%;
	text-align: center;
	line-height:50px;
	font-weight:bold;
}
.modal-footer .finish{
	border-left:1px solid #e5e5e5;
	color:#4296E0;
}
