.td1,.td2{
	width:150px;
	text-align:right !important;
	padding-right:20px !important;
	color: #666 !important;
}
tr{
	height:40px;
}
.td3,.td4{
	text-align:left !important;
	padding-left:20px !important;
}
.limitName{
	text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
