/*************************
 ------申请分销商页面-----
 *************************/

#content{
    padding: 10px;
}
#content .notice-info{
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}
#content h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
#content h2 b{
    font-size: 30px;
}
#content .form-group{
    margin: 10px 0;
}
#content .form-group .form-control{
    height: 44px;
}
#content .form-group input{
    border: 1px solid #ccc;
}
#content .comment-area #comment{
    height: 100px;
}
#content .form-group p.bm-tip-info{
    text-align: center;
    font-size: 14px;
    color: #999;
    letter-spacing: 1px;
}
#content .form-group p.bm-tip-info b{
    font-size: 18px;
}
#content .form-group *{
    border-radius: 0;
}
#content .vcode {
    text-transform: uppercase;
    padding-left: 2px;
    float: left;
    border: 1px solid #999;
}
#content #refreshCode{
    margin-left: 10px;
    cursor: pointer;
}
#content .form-group .sex-span .radio-inline{
    padding-top: 5px;
}
#content .btn {
    display: block;
    letter-spacing: 2px;
    width: 100%;
    background-color: #CC231C;
    border: none;
    color: #EEE;
    padding: 10px 25px;
    font-size: 22px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}
#content .action-tip{
    text-align: center;
}
#content .success-info{
    background-color: #fbf8e9;
}
#content .error-info{
    visibility: hidden;
    padding: 4px ;
    color: #CC231C;
    background-color: #fbf8e9;
    line-height: 16px;
    text-align: center;
}