/******所有商城的客服css*********
 ***** @author linli**********
 ***** @since 2016-10-08*****
 ****************************/
/**底部客服功能区**/
#service-area .bottom-tag-list{
	z-index: 9;
	right:0px;
	width:90px;
	position: fixed;
	bottom:95px;
}
#service-area .bottom-tag-list .bottom-tag{
	cursor: pointer;
	text-align: left;
	height: 30px;
	margin-top:5px;
	font-size:13px;
	color:#fff;
	z-index: 10;	
	line-height: 30px;
	background: #10B61F;
	box-shadow: 0 -1px #eee;
	-moz-box-shadow: 0 -1px #eee;
	overflow: hidden;
	border-radius:15px;
	position: relative;
}
#service-area .bottom-tag-list .bottom-tag a{
	display: block;
}
#service-area .bottom-tag-list a:link,.bottom-tag-list a:visited{
	color: #FFFFFF;
}
#service-area .bottom-tag-list .bottom-tag img.icon-img{
	max-height: 26px;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -13px;
	width:26px;
	height:26px;
}
#service-area .bottom-tag-list .bottom-tag .name{
	margin-left: 35px;
	display: block;
	font-size: 12px;
}
/**弹框**/
#service-area .shadow{
	display:none;
	z-index: 12;
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#service-area .wechat-code-area{
	display:none;
	position:absolute;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#service-area .wechat-code-show{
	display:none;
	background-color:#fff;
	z-index: 13;
	width:80%;
	max-width: 300px;
	max-height:300px;
	height:80vw;
	position: fixed;
	margin:auto;
	left: 0;
	right:0;
	top: 0;
	bottom:0;
}
#service-area .wechat-code-show:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
#service-area .wechat-code-area img{
	width:100%;
	display: block;
	margin:0 auto;
}
#service-area .wechat-code-area .leave-wechat-code{
	cursor: pointer;
	float:right;
	color:#fff;
}
#service-area .wechat-code-area .service-wechat-code{
	text-align:center;
	padding:0 15px;
	width:100%;
}
#service-area .wechat-code-area .wechat-code-title{
	background-color:#10B6B6;
	color:#fff;
	font-size:16px;
	padding-left:80px;
	padding-right:5px;
	line-height:30px;
}
#service-area .bottom-tag-list .service-icon{
	padding-right:3px;
}