.list-table .th1{
    width:40px;
}
.list-table .th4{
     width:70px;
 }
.list-table .th2{
    width: 100%;
}
.list-table .th3{
    width: 60px;
}
.list-table .th5{
    width: 70px;
}
.list-table .th6{
    width: 50px;
}
.list-table .th7{
    width: 70px;
}
.list-table .th8{
    width: 125px;
}
.list-table .th9{
    width: 210px;
}
.list-table .th10{
    width: 60px;
}
.list-table .th11{
    width: 100px;
}
.list-table td a{
    margin: 0 2px;
}
.list-table tr .service_number{
	max-height:80px; 
}
.list-table tr .head_img{
	max-height:80px;
	background-color: #8BC34A;
}