.key-index{
    position: relative;
}
.key-index ul,.key-index li{
    list-style: none;
}
.key-index li{
    float: left;
    width: 50%;
    text-align: center;
    height: 100px;
    padding: 20px 0;
    color: #ffffff;
    font-size: 16px;
}
.key-index .count{
    height: 40px;
    line-height: 40px;
}
.key-index .count i{
    font-size: 30px;
    margin-right: 10px;
}
.key-index .text{
    height: 20px;
    line-height: 20px;
}
.key-index:hover .key-index-item-wrap{
    border-right-color: transparent;
}
#pie-chart-area{
    margin:20px 0  10px;
    border: 1px solid #e7e7eb;
}
#pie-chart-area .pie-chart-top{
    line-height: 38px;
    height: 38px;
    padding: 0 20px;
    background-color: #f4f5f9;
    border-bottom: 1px solid #e7e7eb;
}
#pie-chart-area .pie-chart-wrap{
    padding: 10px 0;
}
#pie-chart-area .pie-chart{
    float: left;
    height: 350px;
    width: 50%;
    padding: 0 20px;
    text-align: center;
}
#pie-chart-area .pie-chart-left{
}
#pie-chart-area .pie-chart-right{
    float: right;
}
#line-chart-area .line-chart-area-wrap{
    border: 1px solid #e7e7eb;
    margin-bottom: 20px;
}
#line-chart-area .line-chart-top{
    line-height: 38px;
    height: 38px;
    padding: 0 20px;
    background-color: #f4f5f9;
    border-bottom: 1px solid #e7e7eb;
    position: relative;
}
#line-chart-area .line-chart-top h4{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 38px;
}
#line-chart-area .line-chart-top .line-chart-search-area{
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
}
.line-chart-search-area span,.line-chart-search-area a{
    float: left;
    display: inline-block;
}
.line-chart-search-area input{
    margin: 9px 0;
    width: 100px;
}
.line-chart-search-area select{
    margin:8px 0;
}
.line-chart-search-area span{
    height: 38px;
    padding: 0 4px;
}
.search-option-left{
    border-left: 1px solid #e7e7eb;
}
#line-chart-area .line-chart-top .line-chart-search-area a{
    line-height: 37px;
    height: 37px;
    border-top: 0;
    background-color: #f4f5f9;
    display: inline-block;
    min-width: 106px;
    text-align: center;
    border-left: 1px solid #e7e7eb;
    color: #222222;
}
#line-chart-area .line-chart-search-area a.selected,
#line-chart-area .line-chart-search-area a:hover{
    color:#459ae9;
}
#line-chart-area .line-chart{
    height: 400px;
    text-align: center;
}
#line-chart-area .line-chart-wrap{

}