@CHARSET "UTF-8";
.right-section #list-table .th1{
    width:30px;
}
.right-section #list-table .th2{
    width:50px;
}
.right-section #list-table .th4{
    width: 100px;
}
.right-section #list-table .th5{
    width: 80px;
}
.right-section #list-table .th6{
    width: 80px;
}
.right-section #list-table .th7{
    width: 50px;
}
.right-section #list-table .th8{
    width: 80px;
}
.right-section #list-table .th9{
    width: 80px;
}
.right-section #list-table .th10{
    width: 50px;
}
.right-section #list-table .th11{
    width: 50px;
}
.right-section #list-table .th12{
    width: 100px;
}
.right-section #list-table .th13{
    width: 135px;
}
.right-section #list-table .th14{
    width: 50px;
}
.input-normal search{
	border-radius: 0;
	border: 1px solid #cccccc !important;
	color: #222;
	width: 120px;
	height: 20px;
	margin: 5px 0;
	padding: 2px;
}
.limitName{
	text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}